
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}
:root {
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}



* {
    box-sizing: border-box;
  }
  main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
.heading {
    padding: 1.25rem;
    text-align: center;
    background-color: var(--primary);
    padding-bottom: 1.25rem;
    font-size: 2rem;

    
}
nav {
    padding-bottom: 1.5rem;
}
textarea {
    margin: auto;
    width: 100%;
    height: 20vh;
    display: block;
   font-size: large;
    padding: 1rem;
    font-family: inherit;
}

#translate-button {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: large;
    background-color: var(--primary);
}
div {
    margin: auto;
    font-size: larger;
}

#output {
    border: 1px solid black;
    width: 100%;
    height: 20vh;
    display: block;
    
    margin-bottom: 1.65rem;
    padding: 1rem;
    
}
footer {
    /* position: fixed; */
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    margin: auto;
    bottom: 0;
    background-color: var(--primary);
}
footer p {
    max-width: 800px;
    margin: auto;
}